/*  styles for small screens */
/*  Header Image for Small Screen */

header {
    background-image: url('../images/LogoSmall.png');
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 50px;
}

body {
    background-color: peru;
    color: bisque;
    font-family: Arial, sans-serif;
}

main {
    background-color: saddlebrown;
    color: gainsboro;
}

footer a {
    color: moccasin;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*  Header Image for large screen */
@media (min-width: 750px) {
    header {
        
        background-image: url('../images/LogoLarge.png');
        background-position: right top;
        background-repeat: no-repeat;
        min-height: 100px;
        padding: 10px;
    }
    img {
        max-width: 600px; 
    }
}

/* Styles for screens wider than 750px */
@media only screen and (min-width: 750px) {
    body {
        background-color: maroon;
        color: moccasin;
    }
}
