/*
Selection of the color palette:

I created my color palette using the Canva Color Palette Generator and Adobe Color, which provided a great foundation for selecting colors that look good together and create the right feel for my project.

For the small screen’s body  background I chose a Light Pink background with Medium Violet Red text to create a soft, inviting atmosphere while maintaining readability with a contrast ratio of 3.30:1. For the main  background I chose The Plum background paired with Medium Orchid text adds elegance with the contrast ratio of 4.91:1.
I chose the Powder Blue background with Dark Slate Gray text for the body background of the larger screens to enhance readability and create a calming visual effect and it has a contrast ratio of 6.23:1. The combination of Sky Blue and Navy Blue for the main tag further elevates the design with a high contrast ratio  of 9.33 : 1 and also makes it visually appealing. 

For the menu-aside section, I selected a Pale Yellow background with Dark Gray text to achieve an excellent contrast ratio of 12.04:1 for making it easy to read.

For highlighting the allergy warning effectively I chose the Gold background with Indigo text which offers a contrast ratio of 9.23:1.

I also chose vibrant colors for the navigation links such as Bright Blue for active links, Dark Green for visited links, Orange Red for hover effects, and Tomato for active links  to create a dynamic and engaging user experience. 
*/


/*  styles for small screens */

header {
    background-image: url('../images/LogoSmall.png');
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 50px;
}

body {
    background-color: #FFB6C1;
    color: #C71585;
    font-family: Arial, sans-serif;
}

main {

    background-color: #DDA0DD;
    color: #592F70;
}

footer a {
    color: moccasin;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.menu-aside {
    background-color: #FFFF99;
    color: #333333;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #592F70;
}

.menu-heading {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.menu-items {
    width: 80%;
    margin: 0.5em;

}

/*  Menu items description list Styling */
dl {
    margin: 1em 0;
}

dt {
    font-weight: bold;
    font-size: 0.95em;
}

dd {
    font-style: italic;
    margin-left: 1em;
}

.allergy-warning {
    color: #4B0082;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Pacifico', cursive;
    text-align: center;
    clear: left;

}

.menu-background-page {
    /*Image Source: https://www.pexels.com/photo/gray-surface-3255761/  */
    background-image: url('../images/MenuPageBackground.png');
    width: 90%;
    margin: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hostCat-image img {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: 5px;
    text-align: center;
}



/* A flex container for the pictures of host cats */
.cat-gallery {
    flex-wrap: wrap;
    /* wrap the container items */
    display: flex;
    justify-content: space-around;
    /* evenly space out images on the page */
    text-align: center;
    background-color: #FFFACD;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0;

}

.logo-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    margin: 0;

}

/* Small screen navigation */
.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav a {
    text-decoration: none;
    font-size: 14px;
    background-color: #592F70;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    margin: 5px;
    display: block;
    width: auto;
    margin-right: 0;
}

/* Hover effect */
nav a:hover {
    background-color: #4a235a;
}

nav a:visited {
    color: #FFD700;
}

.navcontainer-for-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span {
    font-style: italic;
}

#page-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;

}

/* Styles for the email link in the footer */

a:link {
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
}


/* Style for visited link email link in the footer */
a:visited {
    color: #006400;
    text-decoration: none;
}


/* Style when the email link is hovered */
a:hover {
    color: #FF4500;
    font-size: 1.1em;
    text-decoration: underline;
}

/* Adoption page grid container for small screen with 3 columns and 3 rows*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    width: 100%;
    height: 100vh;
}

/* Grid items */
.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Control the positionining of images using grid-column and grid-row */

.img2 {
    grid-column: 1;
    grid-row: 1;
}

.img1 {
    grid-column: 2;
    grid-row: 1;

}

/* Wide image spanning multiple columns in the grid */
.wide-img {
    grid-column: 1 / span 2;
    grid-row: 2;

}

/* Long image spanning multiple rows in the grid */
.long-img {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.img4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img5 {
    grid-column: 1;
    grid-row: 3;
}

.img6 {
    grid-column: 2;
    grid-row: 3;
}

#adoption-title {
    text-align: center;
    font-size: 2.5em;
    color: #4B0082;
}

#adoption-text {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
}



/*Media Query for screens wider than 750px */
@media (min-width: 750px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Row class to contain columns */
    .row {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

    }

    /* Column class */
    .column {
        padding: 2px;
    }

    /* Left Column width control */
    .column-20 {
        flex: 0 0 20%;


    }

    /* Right Column width control */

    .column-80 {
        flex: 1
    }


    header {
        background-image: url('../images/LogoLarge.png');
        background-position: right top;
        background-repeat: no-repeat;
        min-height: 10px;
        padding: 20px;

    }

    .navcontainer-for-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 200px;
    }

    .navcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        height: 100vh;
        flex-basis: 20%;
        padding: 10px;

    }

    nav a {

        display: block;
        background-color: #000080;
        color: white;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        border-radius: 8px;
        width: 200px;
        width: 100%;
        margin-bottom: 20px;

    }

    nav a:hover {
        background-color: #555;
        color: #fff;
    }

    nav a:visited {
        color: #FFD700;
    }

    body {
        background-color: #B0E0E6;
        color: #2F4F4F;
    }

    .menu-aside {
        padding: 10px;
        border-radius: 15px;
    }

    .hostCat-image img {
        width: 180px;
        height: 180px;
    }

    .img-default {
        max-width: 100%;
        max-height: 400px;
        height: 100%;
        border-radius: 5px;
    }

    /* Style for the hero image of the menu page */
    .img2 {
        width: 90%;
        height: 220px;
        margin: 0;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    /* Grid container for Adoption page on large screens with 5 columns and 3 rows */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        width: 100%;
        height: 100vh;
    }


    .grid-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .img2 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .img1 {
        grid-column: 3 / span 3;
        grid-row: 1;
    }

    /* Wide image spanning multiple columns in the grid */
    .wide-img {
        grid-column: 1 / span 4;
        grid-row: 2;
    }

    /* long image spanning multiple rows in the grid */
    .long-img {
        grid-column: 5;
        grid-row: 2 / span 4;
        width: 100%;
        height: 100%;
    }

    .img4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img5 {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .img6 {
        grid-column: 3 / span 2;
        grid-row: 3;
    }

    /* Flexbox for the large screen */
    .main-nav-container {
        display: flex;
        height: 100vh;
    }

    /* Styling the main content area */
    main {
        height: 100vh;
        flex-grow: 1;
        /*main content fills the remaining space */
        overflow: scroll;
        background-color: #87CEFA;
        color: #000080;
        max-width: 100%;
        flex-basis: 80%;

    }

}
